<!-- PAGE | ABOUT -->
<div class="pages" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About</h4>
      <h1>Meet The Team</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            We dream. We love. And we are passionate. Meet the awesome team that build the awwwwesome work.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jai.png" alt="Jaikeerthi">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/kjaikeerthi" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/kjaikeerthi" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/kjaikeerthi" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jai@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jai@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Jaikeerthi<br/>
            <small>Developer / Product </small>
          </h5>
          <p class="smallFontBy08">With the wisdom of working in few startups, he ended up in his entrepreneur life Coducer. He is the brain behind eatwithus.in.He handles Product & strategies.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/assets/images/pages/about/sugan.png" alt="Sugan">

            <!-- Team memeber details, activated on hover -->
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/rgksugan" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/rgksugan" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/rgksugan" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:sugan@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>sugan@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <!-- Team member name and function -->
          <h5>
            Sugan<br/>
            <small>Developer / Mobility consultant</small>
          </h5>

          <!-- Team member short info -->
          <p class="smallFontBy08">After crawling out the slow corporate life, He dived into the  startup world. Has pocketed an MS from Leicester.
He handles mobility @ Coducer.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jebin.png" alt="Jebin Geosil">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/jebin.geosil" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/jebingeosil" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/jebingeosil" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jebin@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jebin@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Jebin G Geosil<br/>
            <small>Developer / Web consultant </small>
          </h5>
          <p class="smallFontBy08">With a Master degree on the wall and mastery in developing few succesful products.He is the master of technology at coducer.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/gautham.png" alt="Gautham Kumar">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/gauthamkumar88" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/gauthamkumar88" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://uk.linkedin.com/pub/gautham-kumar-jayakumar/84/619/962" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:gautham@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>gautham@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Gautham Kumar<br/>
            <small>Sales / Customer Relations</small>
          </h5>
          <p class="smallFontBy08">A successful business strategist for the indian food business and holds a master degree from UK. He handles marketing & sales at Coducer.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Vinoth.png" alt="Vinoth">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/vinothbalaji.v" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/vinothbalaji" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/pub/vinoth-balaji-v/26/65/962" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
          </div>

          <h5>
            Vinoth Balaji<br/>
            <small>Operations / Finance</small>
          </h5>
          <p class="smallFontBy08">A journey through start-up resulted a touchdown at Coducer. He takes care of Operations in Coducer.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Manoj.png" alt="Treble">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/manojkmr.b" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/ManojkmrB" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/manojkumarbalakumaran/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
          </div>

          <h5>
            Manojkumar<br/>
            <small>Developer / Web development</small>
          </h5>
          <p class="smallFontBy08">Manoj joined our team after graduation with high passion in learning various technologies. Apart from coding he read about automobiles and play game in his iphone.</p>
        </li>
        
      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->
