<!-- PAGE | CLIENTS -->
<div class="pages" id="page-clients">
  <div class="container">
    <h4 class="line-divider-inline center">Satisfied clients</h4>
    <!-- Client logos -->
    <div class="row-fluid">
      <div class="span2 center">
        <img src="/assets/images/pages/clients/oma.png" alt="OMA Engine" style="height:40px;">
      </div>
      <div class="span2 center">
        <img src="/assets/images/pages/clients/viame.png" alt="ViaMe" style="height:40px;">
      </div>
      <div class="span2 center">
        <img src="/assets/images/pages/clients/eatwithus.png" alt="Eatwithus">
      </div>
      <div class="span2 center">
        <img src="/assets/images/pages/clients/managewithus.png" alt="Managewithus" style="height:40px;padding-top:3px">
      </div>
      <!-- <div class="span2 center"> -->
      <!--   <img src="/assets/images/pages/clients/04.png" alt="Treble"> -->
      <!-- </div> -->
      <!-- <div class="span2 center"> -->
      <!--   <img src="/assets/images/pages/clients/05.png" alt="Treble"> -->
      <!-- </div> -->
      <!-- <div class="span2 center"> -->
      <!--   <img src="/assets/images/pages/clients/06.png" alt="Treble"> -->
      <!-- </div> -->
    </div>
    <!-- Short text related to client's -->
    <div class="row-fluid">
      <div class="span8 offset2 center smallFontBy08">
        <p>
          Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | CLIENTS -->
