<!-- PAGE | FEATURES  -->
<div class="pages white paralax" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Why Us?</h4>
      <!-- <h1>What's Inside</h1> -->
      <div class="row">
        <div class="span8 offset2">
          <p style="text-align:center">
            <strong>Knowledge Speaks. Wisdom Listens & Skills Innnovate.</strong>
            <br />
            And we are a team. And you would love to hire us. Because,
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Features blocks -->
      <div class="row-fluid">
        <div class="span4 center">
          <img src="/assets/images/pages/features/about01.png" alt="Treble">
          <h5>Responsive Web</h5>
          <p class="smallFontBy08 cutBy10">We build scalable Desktop / Tablet / Mobile compatible Responsive Web applications using Node.js / Ruby / Rails / Html5 / Css3 / Javascript.</p>
        </div>
        <div class="span4 center">
          <img src="/assets/images/pages/features/about02.png" alt="Treble">
          <h5>Mobile Development</h5>
          <p class="smallFontBy08 cutBy10">We build native / cross platform mobile applications using Phonegap / Native Android / IOS, for startups and enterprise market.
</p>
        </div>
        <div class="span4 center">
          <img src="/assets/images/pages/features/about03.png" alt="Treble">
          <h5>Creative Designs</h5>
          <p class="smallFontBy08 cutBy10">We love the user to experience simple and easy. We understand and weave innovation & friendly designs,</p>
        </div>
      </div>
      <!-- Testemonials -->
      <div class="row-fluid">
        <div class="span8 offset2">
          <div class="quote center">
            <div id="quote-slider" class="slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  Coducer Support their clients in building scalable web and mobile applications with recent technologies. Their right mix of skills in server, browser and mobile technologies help us to build scalable products.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  Coducer goes extreme in delivering highly technical competent solutions to our company. They adopt and implement new technologies and solutions.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  We found team Coducer is committed, bright talented people that deliver awesome results. We saw them as always keen to learn, standard and focused on delivering quality products.
                  <h5>Happy client</h5>
                </div>
              </div>
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                <li data-target="#quote-slider" data-slide-to="1"></li>
                <li data-target="#quote-slider" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | FEATURES -->
