<!-- NAVIGATION -->
<nav class="fixed-top" id="navigation" style="display: block;opacity:100">

  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <!-- LOGO -->
        <a class="brand pull-left" href="/">
          <img src="/assets/images/logo.png" alt="Coducer">
        </a>
        <!-- END LOGO -->

        <!-- MOBILE MENU BUTTON -->
        <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <!-- END MOBILE MENU BUTTON -->

        <!-- MAIN MENU -->
        <ul id="main-menu" class="nav-collapse collapse">
          <li><a href="/">Home</a></li>
          <li><a href="/#page-work">Work</a></li>
          <li><a href="/#page-features">Why Us?</a></li>
          <li><a href="/#page-about">About</a></li>
          <li class="active"><a href="/#page-blog">Blog</a></li>
          <li><a href="/#page-contact">Contact</a></li>
        </ul>
        <!-- END MAIN MENU -->

        <!-- SOCIAL ICONS -->
        <div class="social-icons hover-big pull-right">
          <a href="http://www.facebook.com/coducer" class="sicon-facebook" target="_blank"><i>Facebook</i></a>
          <a href="http://www.twitter.com/coducer" class="sicon-twitter" target="_blank"><i>Twitter</i></a>
          <a href="http://www.linkedin.com/#" class="sicon-linkedin" target="_blank"><i>LinkedIn</i></a>
          <a href="http://www.youtube.com/coducer" class="sicon-youtube" target="_blank"><i>Youtube</i></a>
          <a href="http://www.pintrest.com/coducer" class="sicon-pinterest" target="_blank"><i>Pinterest</i></a>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</nav>
<!-- END NAVIGATION -->
