<!-- PAGE | TWITTER -->
<div class="pages white paralax" id="page-twitter">
  <!-- Page overlay -->
  <div class="overlay"></div>

  <!-- Block content -->
  <div class="container">
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="twitter-devider"></div>
        <!-- Load Twitter boostrap container -->
        <div class="twitterfeed center slide" id="twitterfeed-slider">
	  A World Map of the Most Visited Websites http://www.labnol.org/internet/most-visited-websites-map/21366/ ? via @labnol
        </div>
        <!-- Sub title / Name of twitter account -->
        <h5 class="center">@coducer</h5>
      </div>
    </div>
  </div>

</div>
<!-- END PAGE | TWITTER -->
