<!-- PAGE | WELCOME -->
<div class="pages white paralax" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-work">
                <img src="/assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Coducer">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-work">
                <img src="/assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Coducer">
              </a>
            </div>
          </div>

          <div class="line-divider" id="welcome-messages">
            <ul class="slides">
              <li>
                <h1>Creative Designs</h1>
              </li>

              <li>
                <h1>Android & IOS</h1>
              </li>
              <li>
                <h1>Responsive Apps</h1>
              </li>
            </ul>
          </div>
          <p>We Help to Build your dream.</p>
          <div class="social-icons sicon-white bordered">
            <a href="http://www.facebook.com/coducer" class="sicon-facebook" target="_blank"><i>Facebook</i></a>
            <a href="http://www.twitter.com/coducer" class="sicon-twitter" target="_blank"><i>Twitter</i></a>
            <a href="http://www.linkedin.com/#" class="sicon-linkedin" target="_blank"><i>LinkedIn</i></a>
            <a href="http://www.youtube.com/coducer" class="sicon-youtube" target="_blank"><i>Youtube</i></a>
            <a href="http://www.pintrest.com/coducer" class="sicon-pinterest" target="_blank"><i>Pinterest</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->
