<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
<div style="">
          <span style="float:right;position:static;width:160px;margin-right:10px;">
            <a href="#" target="_blank" style="border:0px;text-decoration:none;"> 
              <img src="../images/git.png" style="border:0px;padding:2px;" />
            </a>
            <a href="#" target="_blank" style="border:0px;text-decoration:none;">
              <img src="../images/linkedin.png" style="border:0px;padding:2px;" />
            </a>
            <a href="#" target="_blank" style="border:0px;text-decoration:none;">
              <img src="../images/twitter.png" style="border:0px;padding:2px;" />
            </a>
            <a href="#" target="_blank" style="border:0px;text-decoration:none;">
              <img src="../images/facebook.png" style="border:0px;padding:2px;" />
            </a>
          </span>
        </div>

        <div>
        <h1 class="title">
          <a href="/">Coducer</a>
        </h1>
        <p>Idea's come True.</p>
        </div>
        <br />
        <br />
        <div id="nav">
          {% include menu.html %}
        </div>
      </div>
    </div>
    <div id='content'>
      <div class='wrapper'>
        <div style="width:600px;border-right:1px solid #DDD;padding-right:10px;float:left;">
          <div style="background: #F6F6F6;border: 1px solid #DDD;color: #777;padding: 6px 6px;height:20px;">
            <div>
              <a href="#" style="color:#345;width:100px;float:left;">Previous</a>
            </div>
            <div>
              <a href="#" style="color:#345;float:right;">Next</a>
            </div>
          </div>
          <div style="min-height:500px;" id="posts">
            {{ content }}
          </div>
          <div style="background: #F6F6F6;border: 1px solid #DDD;color: #777;padding: 6px 6px;height:20px;">
            <div>
              <a href="#" style="color:#345;width:100px;float:left;">Previous</a>
            </div>
            <div>
              <a href="#" style="color:#345;float:right;">Next</a>
            </div>
          </div>
        </div>
        {% include category.html %}
      </div>
    </div>
    <div id='footer-simple'>
      {% include footer.html %}
      {% include analytics.html %}
    </div>
  </body>
</html>
